src/test/resources/person.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="person">
	   <xs:sequence>
			   <xs:element name="firstName" type="xs:string"/>
			   <xs:element name="lastName" type="xs:string"/>
			   <xs:element name="age" type="xs:int"/>
			   <xs:element name="state" type="xs:string"/>
	   </xs:sequence>
   </xs:complexType>
</xs:schema>